// Colors
$black: #000000;
$white: #FFFFFF;
$brand: #4FA5CB;
$gray: #5a5255;

// Typography
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

$lato: 'Lato', sans-serif;

// Media Queries
$iPad-portrait: 800px;
$iPhone-portrait: 500px;
$iPhone-landscape: 740px;
$iPhone8-landscape: 680px;
$iPhoneSE-portrait: 320px;
$iPhoneSE-landscape: 570px;
